# Uses strict version numbering.
# - https://github.com/erlef/setup-beam?tab=readme-ov-file#strict-versions
# - https://github.com/erlef/setup-beam?tab=readme-ov-file#version-file

erlang 27.3.2
gleam 1.9.1
rebar 3.24.0
